#background {
    min-width: 100%;
    min-height: 100vh;
    background-color: #264653;
    top: 0;
    position: absolute;
    color: white;
    text-align: left;
}
#logo {
    margin: 2em;
}

#headline {
    color: #FFFFFF;

    font-family: 'Andada Pro', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    user-select: none;
}
#spense-text {
    color: #3AAF83;

}

#tagline {
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    // margin-top: 100px;
    user-select: none;
}

// br {
//     display: block;
//     margin-top: 0;
//     content : " ";
// }


#login, #register {
    border-radius: 48px;
    font-family: 'Inter', sans-serif;
    color: white;
    border: 2px solid #3AAF83;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    padding: 20px 50px;
    margin-right: 10px;
    margin-top: 10px;
    width: 200px;
}

#login {
    background-color: #3AAF83;

    &:hover {
        background-color: #32956F;
        border: 2px solid #32956F;
    }

    &:active {
        background-color: #3AAF83;
    }
}


#register {
    background-color: transparent;
    color: #3AAF83;

    &:hover {
        border: 2px solid #32956F;
        color: #32956F;
    }

    &:active {
        border: 2px solid #3AAF83;
        color: #3AAF83;
    }
}

#graphic {
    max-width: 100%;
}

@media only screen and (max-width: 990px) {
    #headline {
        font-size: 60px;
        line-height: normal;
    }

    #tagline {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    #info {
        text-align: center;
        padding: 2em;
    }
}

@media only screen and (max-width: 520px) and (min-width: 376px) {
    #graphic {
        display: none;
    }
    #main {
        // background-color: grey;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em;
    }
}

@media only screen and (max-width: 375px){
    #graphic {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #main {
        // background-color: grey;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em;
    }
}