#background {
    min-width: 100%;
    min-height: 100vh;
    background-color: #264653;
    top: 0;
    position: absolute;
    color: white;
    text-align: left;
}
#logo {
    margin: 2em;
    cursor: pointer;
}

#animation {
    width: 150%;
    transform: translate(-20%);
}

#graphic {
    max-width: 100%;
}

#login-form-container {
    background-color: #FFFBF5;
    border-radius: 50px;
    padding: 2em;
    width: 70%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main {
    padding: 3em;
}

#username {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    color: #403F3F;
}

#welcome-back {
    font-family: 'Inter';
    color: #403F3F;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    
}

#loginPage-login {
    width: 100%;
    border-radius: 48px;
    font-family: "Inter", sans-serif;
    color: white;
    border: 2px solid #3AAF83;
    background-color: #3AAF83;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    padding: 20px 50px;
}

#graphic {
    margin: 0 auto;
}

#create-account {
    text-align: center;
    width: 70%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    user-select: none;
    color: #3AAF83;
}

@media only screen and (max-width: 990px) {
    #login-form-container, #create-account {
        width: 100%;
    }
}

@media only screen and (max-width: 776px) {
    #animation {
        display: none;
    }
}
